@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

table {
  margin: 50px auto;
  border: 2px solid #ffbe42;
  border-collapse: collapse;
  font-family: montserrat;
  width: 70%;
  height: 200px;
}

th {
  text-align: center;
  background-color: #ffbe42;
  color: black;
  text-transform: uppercase;
}

td {
  padding-left: 20px;
  background-color: #5e0087;
  color: white;
  border: 2px solid #ffbe42;
}

table th:nth-of-type(2) {
  background-color: #e69500;
}
